@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #b2bec3;
  background-attachment: fixed;
}

a {
  color: #2ed573;
  text-decoration: none;
}

a:hover {
  color: #ffa502;
}

/* GÓRNA CZESC KONTENERA */
.kontener {
  width: 95%;
  margin: 0 auto;
}

.kontener .gorna_czesc_kontenera {
  background-color: #2f3542;
  width: 100%;
  height: 113px;
  position: relative;
  opacity: 0.9;
}

.kontener .gorna_czesc_kontenera img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 60px;
  width: 200px;
}

.kontener .gorna_czesc_kontenera .gorne_menu {
  position: absolute;
  left: 40px;
  bottom: 0px;
}

.kontener .gorna_czesc_kontenera .gorne_menu ul li {
  float: left;
  list-style: none;
}

.kontener .gorna_czesc_kontenera .gorne_menu ul li a {
  float: left;
  background-color: #3742fa;
  color: white;
  padding: 5px 15px;
  border-top: 3px solid black;
  border-right: 1px solid #2E2121;
  opacity: 0.6;
}

.kontener .gorna_czesc_kontenera .gorne_menu ul li a:hover {
  background-color: #3742fa;
  color: #81ecec;
  opacity: 1;
}

.kontener .gorna_czesc_kontenera .kontakt_box {
  position: absolute;
  top: 5px;
  right: 50px;
  color: whitesmoke;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 125%;
}

/* Środkowe MENU */
div.srodkowe_menu {
  background-color: #006266;
  width: 100%;
  height: 35px;
  border-top: 3px solid black;
}

div.srodkowe_menu ul.pierwszy_poziom li {
  display: block;
  float: left;
  list-style-type: none;
  color: #f1f2f6;
  position: relative;
  /* ROZWIJANE MENMU */
}

div.srodkowe_menu ul.pierwszy_poziom li.odstep {
  font-weight: bold;
  margin-top: 5px;
}

div.srodkowe_menu ul.pierwszy_poziom li:hover .drugi_poziom {
  display: block;
}

div.srodkowe_menu ul.pierwszy_poziom li a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f1f2f6;
  height: 28px;
  display: block;
  padding: 5px 15px;
}

div.srodkowe_menu ul.pierwszy_poziom li a:hover {
  color: #ffeaa7;
}

div.srodkowe_menu ul.pierwszy_poziom li .drugi_poziom {
  display: none;
  width: 150px;
  position: absolute;
  left: -15px;
  top: 2.2em;
  background-color: #006266;
  border-left: 4px solid gray;
  border-bottom: 2px solid gray;
  border-right: 1px solid gray;
  opacity: 0.9;
}

div.srodkowe_menu ul.pierwszy_poziom li .drugi_poziom li {
  list-style: none;
  width: 130px;
  text-align: left;
  margin-left: 20px;
}

div.srodkowe_menu ul.pierwszy_poziom li .drugi_poziom li.pierwszy_element_menu {
  margin-top: 5px;
}

div.srodkowe_menu ul.pierwszy_poziom li .drugi_poziom li a {
  display: block;
  width: 100px;
  height: 18px;
  padding: 5px 20px;
  margin-left: -15px;
  border-top: 1px solid #cccccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
}

div.srodkowe_menu ul.pierwszy_poziom li .drugi_poziom li a:hover {
  background-color: #cccccc;
  color: black;
}

/* GŁÓWNA ZAWARTOŚĆ STRONY */
.zawartosc {
  width: 100%;
  background-color: #f5f6fa;
}

.zawartosc .zawartosc_strony {
  width: 100%;
}

.zawartosc .zawartosc_strony .bok_strony {
  float: right;
  width: 20%;
}

.zawartosc .zawartosc_strony .bok_strony .tekst_bok {
  margin: 50px auto;
  background-color: #dfe6e9;
  width: 250px;
  padding: 20px;
  border: 2px dotted black;
}

.zawartosc .zawartosc_strony .bok_strony .tekst_bok a {
  color: #0984e3;
}

.zawartosc .zawartosc_strony .bok_strony .tekst_bok a:hover {
  color: #F79F1F;
}

.zawartosc .zawartosc_strony .bok_strony .tekst_bok a:active {
  color: #ED4C67;
}

.zawartosc .zawartosc_strony .bok_strony .tekst_bok p {
  margin-bottom: 10px;
}

.zawartosc .zawartosc_strony .bok_strony .obrazki {
  width: 100%;
  clear: right;
}

.zawartosc .zawartosc_strony .bok_strony .obrazki img {
  width: 294px;
  margin-bottom: 50px;
  margin-left: 33px;
  opacity: 0.6;
  cursor: wait;
}

.zawartosc .zawartosc_strony .bok_strony .obrazki img:hover {
  opacity: 1;
}

.zawartosc .zawartosc_strony .pudelko {
  width: 80%;
  margin-bottom: 10px;
}

.zawartosc .zawartosc_strony .pudelko .tekst {
  padding: 20px 50px;
  text-align: justify;
  line-height: 140%;
  font-size: 18px;
}

.zawartosc .zawartosc_strony .pudelko .tekst h1 {
  text-align: center;
  color: #006266;
  font-style: italic;
  margin-bottom: 30px;
  font-size: 2em;
}

.zawartosc .zawartosc_strony .pudelko .tekst p {
  text-indent: 1.5em;
  margin-bottom: 10px;
}

.zawartosc .zawartosc_strony .pudelko .tekst p a {
  cursor: pointer;
  color: #0984e3;
}

.zawartosc .zawartosc_strony .pudelko .tekst p a:hover {
  color: #F79F1F;
}

.zawartosc .zawartosc_strony .pudelko .tekst p a:active {
  color: #ED4C67;
}

.zawartosc .zawartosc_strony .pudelko .tekst h3 {
  text-align: left;
  color: #006266;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 1.3em;
}

.zawartosc .zawartosc_strony .pudelko .tekst ul {
  margin-bottom: 30px;
}

.zawartosc .zawartosc_strony .pudelko .tekst ul li {
  list-style-type: square;
  margin-bottom: 10px;
  margin-left: 80px;
}

.zawartosc .zawartosc_strony .pudelko .tekst ul li a {
  color: #0984e3;
  font-size: 1.15em;
}

.zawartosc .zawartosc_strony .pudelko .tekst ul li a:hover {
  color: #F79F1F;
}

.zawartosc .zawartosc_strony .pudelko .tekst ul li a:active {
  color: #ED4C67;
}

.zawartosc .zawartosc_strony .dol_zawartosci {
  margin: 0 40px;
  padding: 20px 0px;
  border-top: 3px solid black;
}

/* STOPKA STRONY */
.stopka_strony {
  background-color: #2f3542;
  width: 100%;
  color: white;
}

.stopka_strony .stopka_logo {
  width: 190px;
  float: left;
}

.stopka_strony .stopka_logo img {
  width: 150px;
  height: 70px;
  padding: 15px 20px;
}

.stopka_strony .stopka_tytul {
  padding-top: 25px;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stopka_strony .stopka_form {
  font-size: 18px;
  padding-left: 50px;
  margin-top: 15px;
}

.stopka_strony .stopka_form .input_text {
  background-color: #dfe6e9;
  font-size: 14px;
}

.stopka_strony .stopka_form .button {
  background-color: #b2bec3;
  padding: 7px;
  margin-left: 10px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px outset black;
  cursor: pointer;
}

.stopka_strony .stopka_form .button:hover {
  color: #ffeaa7;
}

.stopka_strony .stopka_form .button:active {
  border: 2px inset black;
}

.stopka_strony .stopka_info {
  padding: 15px 30px;
  font-size: 18px;
}

.stopka_strony .stopka_copy {
  padding-bottom: 15px;
  margin-bottom: 5px;
  color: gray;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */